body {

    background-color: lightblue;

    font-family: 'Kanit', sans-serif;

}

h1 {

    font-family: 'Fredoka One', cursive;

}

ol>li:last-child {

    color: crimson;

}

p {

    float:right;

}

img {

float:left;

}

/* Float er ikke brugt til layout mere */

li {

    margin-bottom: 2%;

}

h1 {

    margin-bottom: 15%;

    color:orchid;

}

button {

    margin: 4%;

}